.coin-app{

    margin-top: -40px;
    margin-bottom: 100px;
    height: 8300px;
    background-color: white;
    /* border-radius: 20px; */
    padding-top: 5px; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

.coin-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 40px;
}

.coin-input{
    border-radius: 10px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background: #FCD535;
    padding: 7px 20px 7px 20px;
    border: 0px solid black ;
}

.coin-input:hover {
    background: #f1d254;
    text-decoration: none;
  }